@import "variables";

:root {
  --bs-body-bg: var(--bs-slate);
  --bs-body-color: var(--bs-slateDark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bs-body-bg: var(--bs-slateDark);
    --bs-body-color: var(--bs-slate);
  }
}
